**/__pycache__
**/.venv
**/venv
**/tests
**/.classpath
**/.dockerignore
**/.env
**/fitbit_tokens.json
**/.git
**/.gitignore
**/.github  
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/docker-compose*
**/compose*
**/Dockerfile*
LICENSE
README.md